/* Message styling*/
.message {
    padding: 4px;

    font-weight: bold;
    font-family: sans-serif;
    font-size: 9pt;

    padding-top:    3px;
    padding-bottom: 3px;

    border-width: 1px;
    border-style: solid;

    border-top-color:    rgba(255, 255, 255, 0.10);
    border-left-color:   rgba(  0,   0,   0, 0.15);
    border-bottom-color: rgba(  0,   0,   0, 0.15);
    border-right-color:  rgba(  0,   0,   0, 0.15);
}

.self {
    background-color: #444444;
    color: #666;
}

.them {
    background-color: #555555;
    color: #ddd;
}

/* Remove padding */
html {
    padding: 0px;
    margin:  0px;

    margin-left:  6px;
    margin-right: 6px;

    background-color: #666;
}

body {
    padding: 0px;
    margin:  0px;
}

/* Custom scrollbars */
*::-webkit-scrollbar {
    width:  6px;
    height: 6px;

    border-width: 0px;
}

*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track {
    margin:       0px;
    padding:      0px;
    border-width: 0px;
}


*::-webkit-scrollbar-corner {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    border-width: 0px;

    border-style: solid;

    background-color: #333;
}

*::-webkit-scrollbar-thumb:hover {
}

*::-webkit-scrollbar-track:horizontal,
*::-webkit-scrollbar-track:vertical {
    background: #666;
}

*::-webkit-scrollbar-thumb:vertical {
    border: 1px solid rgba(255, 255, 255, 0.30);
}

*::-webkit-scrollbar-track:vertical {
    border-left: 1px solid #666;
}
