.message {
    padding: 4px;
    color: #ddd;

    font-weight: bold;
    font-family: sans-serif;
    font-size: 9pt;

    padding-top:    3px;
    padding-bottom: 3px;

    border-width: 1px;
    border-style: solid;

    border-top-color:    rgba(255, 255, 255, 0.10);
    border-left-color:   rgba(255, 255, 255, 0.10);
    border-bottom-color: rgba(  0,   0,   0, 0.10);
    border-right-color:  rgba(  0,   0,   0, 0.10);
}

.self {
    background-color: #222;
}

.them {
    background-color: #333;
}

html {
    padding: 0px;
    margin:  0px;
}

body {
    padding: 0px;
    margin:  0px;
}
