/* vim: set ft=css: */

#theFriendStatus {
    background-color:    #88C5A7;
    border-top-color:    #7EB69A;
    border-left-color:   #7EB69A;
    border-bottom-color: #73A78D;
    border-right-color:  #73A78D;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    font-weight: bold;
    border-radius: 0px;
}

#theChatViewFrame {
    border-width: 4px;
}
